













































































































   
th > button {
    border: none;
    padding: 0;
    outline:none;
    background-color: inherit;
}

.ltable {
    display: none;
}
